@media (max-width: 1199.98px) {
	#design_website .design_mobile_app_img img {
		right: 0;
	}
	#system .design_mobile_app_img img {
		right: 0;
	}
	.design_mobile_app_img img {
		left: 0;
	}
}

/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
	.nav-contact {
		display: none;
	}
	.nav-language {
		width: 100%;
		justify-content: center;
	}
	.navbar .container {
		justify-content: flex-start;
	}
	.navbar-dark .navbar-toggler {
		margin-left: auto;
	}
	.navbar-nav li>ul {
		position: inherit;
		width: 100%;
		height: 0;
	}
	.navbar-nav li:hover ul {
		height: 100%;
		transition: height 2s;
	}
	#banner .owl-banner .item {
	    height: 400px;
	}
	#procedure {
		background-size: cover;
	}
	.design_mobile_app_img img {
		bottom: 0;
	}
	#video iframe {
		height: 220px;
	}
	.procedure-title {
		font-size: 32px;
	}
	#data_start .media .achievement-icon {
		width: 80px;
		height: 80px;
		line-height: 80px;
	}
	#data_start .media .media-body h4 {
		font-size: 40px;
	}
	#partner {
		padding: 72px 0;
	}
	.team_box {
		padding-right: 0;
	}
	.footer-title {
		margin-top: 32px;
	}
}

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
	.design_mobile_app_img img {
		position: inherit;
	}
	.design_mobile_app-button {
	    text-align: center;
	}
	#video iframe {
	    height: 284px;
	}
	.video_box {
		margin-top: 20px;
	}
	#data_start .media {
	    margin-bottom: 24px;
	}
	.data_start_box {
		padding: 24px  0 60px;
	}
	.partner-title {
		margin-bottom: 40px;
	}
	.team_box {
		margin-bottom: 32px;
	}
	#team {
		padding: 60px 0;
	}
	.start_from-title {
		font-size: 32px;
	}
	.ps-timeline-sec .container ol.ps-timeline li .img-handler-bot img {
		width: 100%;
	}
	.ps-timeline-sec .container ol.ps-timeline li .img-handler-top img {
		width: 70% !important;
	}
	.ps-timeline-sec .container ol.ps-timeline li:last-child .img-handler-bot img {
		width: 70%;
	}
	.ps-timeline-sec .container ol.ps-timeline {
		margin: 80px 0 !important;
	}
	.ps-timeline-sec .container ol:before {
		top: 0 !important;
		left: 11px !important;
	}
	.ps-timeline-sec .container ol:after {
		bottom: 0 !important;
		left: 11px !important;
	}
	.ps-timeline-sec .container ol.ps-timeline li .ps-bot {
		text-align: left;
		margin-top: 0;
	}
	.ps-timeline-sec .container ol.ps-timeline li .ps-top {
		text-align: left;
	}
	.ps-timeline-sec .container ol.ps-timeline li:last-child .ps-top {
		width: 60% !important;
		text-align: left;
		top: -46px;
	}
	#design_website {
		padding: 52px 0 60px;
	}
	.ps-timeline-sec {
		padding-left: 15px;
	}
	.partner_child {
		width: 33%;
	}
	#intro_xtp {
		padding: 40px 0; 
	}
	.intro_xtp_box {
		margin-bottom: 40px;
	}
	.intro_mission_bg {
		padding: 60px 0;
	}
	.intro_mission_item {
		width: 50%;
	}
	.intro_mission_item h4 {
		font-size: 22px;
	}
	.intro_application_item {
		width: 50%;
	}
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.owl-banner .owl-nav .icon {
		width: 32px;
		height: 32px;
	}
	.navbar-brand img {
		width: 192px;
	}
	.service_feature_child {
		width: 100%;
	}
}

@media (max-width: 420.98px) {
	#banner .owl-banner .item {
	    height: 260px;
	}
	#video iframe {
	    height: 214px;
	}
	.partner_child {
	    width: 50%;
	}
	.intro_mission_title h3, .intro_application_title h3 {
		font-size: 32px;
	}
	.intro_application_item img {
		width: 128px;
		height: 128px;
	}
	#intro_banner {
		height: 200px;
	}
	.intro_banner_title h2 {
		font-size: 32px;
	}
	.service_block_box h3 {
	    font-size: 24px;
	}
}
@media (max-width: 384.98px) {
	#video iframe {
	    height: 180px;
	}
	.intro_mission_item h4 {
	    font-size: 18px;
	}
	.intro_xtp_box h3 {
	    font-size: 28px;
	}
}
@media (max-width: 320.98px) {
	#video iframe {
	    height: 164px;
	}
	.data_start_box h3 {
		font-size: 22px;
	}
	.partner-title h3 {
		font-size: 22px;
	}
}